Project: ()

In [42]:
#import libraries
import os
import requests
import tweepy
import pandas as pd
import json

# Gathering

image prediction

In [ ]:
# Downloading and saving the image prediction data using Requests
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
# Get the response object of the requests library 
response = requests.get(url)
# response=requesrs.get('https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv')
# GET the file name programmatically
file_name = url.split('/')[-1]
# Write the file with the context manager with:
with open(file_name, 'wb') as file:
     file.write(response.content)

In [ ]:
df_pred=pd.read_csv('image-predictions.tsv',sep='\t')

In [ ]:
df_arch=pd.read_csv('twitter-archive-enhanced.csv')

In [ ]:
df_arch.head()

tweet_id

In [ ]:
consumer_key = 'hidden '
consumer_secret = 'hidden'
access_token = 'hidden'
access_secret = 'hidden'
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [43]:
errors = []
if not os.path.isfile('tweet_json.txt'):
    # create the file and write on it
    with open ('tweet_json.txt', 'w') as file:
        for tweet_id in df_arch['tweet_id']:
            try:
                status = api.get_status(tweet_id, wait_on_rate_limit=True,  wait_on_rate_limit_notify=True, tweet_mode = 'extended')
                json.dump(status._json, file)
                file.write('\n')
            except Exception as e:
                print("Error on tweet id {}".format(tweet_id) + ";" + str(e))
                errors.append(tweet_id)

Error on tweet id 888202515573088257;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 873697596434513921;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 872668790621863937;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 872261713294495745;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 869988702071779329;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 866816280283807744;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 861769973181624320;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 856602993587888130;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 851953902622658560;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 845459076796616705;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 844704788403113984;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 842892208864923648;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 837366284874571778;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 837012587749474308;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 829374341691346946;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 827228250799742977;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 812747805718642688;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 802247111496568832;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 779123168116150273;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 775096608509886464;[{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 360

Error on tweet id 771004394259247104;[{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
Error on tweet id 770743923962707968;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 759566828574212096;[{'code': 144, 'message': 'No status found with that ID.'}]
Error on tweet id 754011816964026368;[{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 414

Error on tweet id 680055455951884288;[{'code': 144, 'message': 'No status found with that ID.'}]

In [46]:
df_list = []

with open('tweet_json.txt', 'r') as file:
    for line in file:
        tweet = json.loads(line)
        tweet_id = tweet['id']
        retweet_count = tweet['retweet_count']
        fav_count = tweet['favorite_count']
        df_list.append({'tweet_id':tweet_id,
                       'retweet_count': retweet_count,
                       'favorite_count': fav_count})

In [47]:
df_api= pd.DataFrame(df_list)
df_api.head(20)

              tweet_id  retweet_count  favorite_count
0   892420643555336193           7362           35023
1   892177421306343426           5488           30339
2   891815181378084864           3629           22807
3   891689557279858688           7542           38304
4   891327558926688256           8128           36575
5   891087950875897856           2721           18443
6   890971913173991426           1760           10732
7   890729181411237888          16490           58978
8   890609185150312448           3771           25384
9   890240255349198849           6389           28952
10  890006608113172480           6413           27937
11  889880896479866881           4352           25398
12  889665388333682689           8745           43625
13  889638837579907072           3904           24518
14  889531135344209921           1969           13817
15  889278841981685760           4644           22880
16  888917238123831296           3916           26497
17  888804989199671297           3705           23251
18  888554962724278272           3014           17936
19  888078434458587136           3037           19833